canvas {
	float: left;
	outline: black 3px solid;
}

.info{
	float: right;
    margin-right: 190px;
}

.progress{
	float: left;
	margin-left: 140px;
}

button {
	width: 300px;
	height: 40px;
	background-color: #6959d9;
    font-variant: all-small-caps;
    color: white;
    font-size: 100%;
    border-radius: 8px;
}